# Copia este archivo como .env y completa con tus valores reales.
# NUNCA subas el archivo .env real (con tu private key) a GitHub.

GANACHE_RPC_URL=http://127.0.0.1:7545
CONTRACT_ADDRESS=0xDIRECCION_DE_TU_CONTRATO_DESPLEGADO
ADMIN_PRIVATE_KEY=TU_PRIVATE_KEY_DE_GANACHE_AQUI
ADMIN_ADDRESS=TU_DIRECCION_DE_CUENTA_AQUI
FLASK_PORT=5000
FLASK_DEBUG=True
